body{
    font-family: 'Montserrat';
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    font-weight: 700;
}

p{
    color: #8f8f8f;
}

/* Headings */

.big-heading{

        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;

}
.section-heading{
    font-size: 3rem;
    line-height: 3.5rem;
}

/* Containers */

.container-fluid{
    padding:4% 15%;
}

/* Sections */
.colored-section{
    
background-color: #ff4c68;
color: #fff;

}
.white-section{
background-color: #fff;


}

/* Navigation Bar */

.navbar{
    padding-bottom:4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
   
}

/* Title Section */

#title{
  text-align: left;
}

#title .container-fluid{
    padding: 7% 8% ;

}

/* TITLE IMAGE */

.title-image{
    
width: 20%;
transform: rotate(25deg);
position: absolute;
right: 20%


}

/* FEatures */

#features{
  
    position: relative;
}
.features-title{
    font-size: 1.5rem;
}
.feature-box{
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}


/* Testimonials */

#testimonials{
    background-color: #ef8172;
 
}
.testimonials-img{
    width: 15%;
    border-radius: 100%;
   margin: 10%;
}
.testimonial-text{
    padding-top: 3%;
    font-size: 3rem;
    line-height: 3.3rem;
}
.carousel-item{
    padding: 4% 15%;
}

/* Press Section */

#press{ 
 background-color: #ef8172;
padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}

 /* Pricing Section */

 #pricing{
    padding: 10%;
    
 }
  .pricing-column{
    padding: 3% 2%;
  }
  .price-text{
    font-size: 2.5rem;
    line-height: 3rem;
  }

   

    .footer-icon{
        margin: 20px 10px;
    }

    /* MEDIA */

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
       
        position: static;
        transform: rotate(0);
    }
}


